.treeview {
	height: 0;
	overflow: hidden;
	transition: height 0.25s ease-out;
}

.treeviewButtonActive{
    @apply bg-blue-400 font-bold;
}

.treeviewButton{
	@apply flex gap-x-2 w-full px-4 py-3 hover:bg-zinc-600 rounded-md cursor-pointer items-center text-sm text-gray-200 transition-colors duration-300;
}